
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f3f4f6;
    background-image: url("images/headBG.png"); 
    background-position: top right;
    
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;

}



@media screen and (max-width: 1250px) {
    body {
        background-size: auto;
    }
  }


#carousel-container {
    width: 35rem;
    margin: 11rem auto 6rem auto;
    border-radius: 8px;
    background-color: white;
    box-shadow:5px 5px 5px grey;
}

#info {
    margin-left:5rem;
    margin-top: 1rem;
    width: 17rem;
    border-radius: 8px;
    padding: 1rem;
    font-family: 'Dosis', sans-serif;
    border: 1px solid grey;
    background-color: white;
    visibility: hidden;
}

h2{
    text-align: center;
}

#box-container {
    display: flex;
    height: 10rem;
    margin-top: 9rem;
    margin-bottom: 4.5rem;
    visibility: hidden;
}

.box{
    box-shadow: 5px 5px 5px grey;
    width: 20rem;
    margin: auto;
    background-color: white;
    height:100%;
    border-radius: 12px;
    border: 1px solid black;
}

#header-container {
    width: 30%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    border: 1px solid orangered;
    padding: 1rem;
    border-radius: 6px;
    /* background-image: linear-gradient(to bottom, rgba(255, 69, 0, 0.3), rgba(255, 255, 255, 0.6)); */
    background-color: rgba(255, 69, 0, 0.1);
}

@media screen and (max-width: 903px) {
    #info {
        margin: auto;
        margin-top: 5rem;
    }
    #carousel-container {
        width: 80%;
        
    }
    .pad {
        font-size: x-large;
        padding: 4px;
      
      }
    .navbar-nav {
        margin: auto;
    }
}
@media screen and (max-width: 403px) {
    #info{
        width: 70%;
    }
    .pad {
        font-size: large;
        padding: 4px;
      
      }
}

#example {
    margin-top: 10rem;
}