body {
    
     background-image: url("images/bgb.png");  
    background-size: 100vw 50vh;
    background-repeat: no-repeat;
}



@media screen and (max-width: 1100px) {
    body {
        background-size: auto;
    }
  }


#carousel-container {
    width: 40rem;
    height: 25rem;
    margin: 10rem auto 13rem auto;
    border-radius: 8px;
    
    background-color: white;
    box-shadow:5px 5px 5px grey;
}