
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Rowdies&display=swap');



.pad {
    margin: 12px;
    font-size: x-large;
    font-family: 'Dosis', sans-serif;
    border-radius: 6px;
    padding: 1rem;
    background-color: rgba(255, 255,255,0.7);
    
}

.pad:hover {
    text-decoration: underline;
}



.navbar-nav {
    margin-right: 5rem;
}
.nav-item {
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
    
}
#bordered {
    border: 2px solid rgb(146, 211, 233);
}

#bordered:hover {
    background-color: rgb(146, 211, 233);
    color: white;
}

.nav-link {
    margin: 1rem;
    border-radius: 8px;
    padding: 4px;
}

.nav-link:hover {
    background-color: rgb(146, 211, 233);
    color:black
}
#logo{
    border-radius: 50%;
    padding-bottom: 4px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

