
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Rowdies&display=swap');



.pad {
    margin: 12px;
    font-size: x-large;
    font-family: 'Dosis', sans-serif;
    padding: 5px;
    border-radius: 6px;
    
}

.pad:hover {
    background-color: rgb(158, 208, 224);
}

.navbar {
    background-color: lightblue;
}

.nav-item {
    font-family: 'Dosis', sans-serif;
}
#logo{
    border-radius: 50%;
    padding-bottom: 4px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

