
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8rem;
}

.offcanvas-backdrop {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.nav-tabs .nav-link {
  color: #333;
  border: none;
  background: none;
}

.nav-tabs .nav-link.active {
  color: rgb(27, 27, 112);
  /* color: #212529 */
  border: none;
  background: none;
  border-bottom: 3px solid grey;
}

.nav-link.active {
  background-color: grey;
  color: white;
}



.sidebar {
  box-shadow: 8px 0 10px -4px rgba(0, 0, 0, 0.2);
}
.nav-item {
  margin: 13px 9px 0 6px;
}

.nav-item a {
  color: rgb(129, 126, 126);
  border-radius: 4px;
}

.nav-item a:hover {
  color: black;
}
.nav-item.active a:hover {
  color: white;
}

#sidebar12 {
  position: fixed;
  height: calc(100vh - 3rem);
  margin-top: 56px;
  min-width: 220px;
  overflow-y: auto;
}
.container {
  padding: 0 4rem;
}

mjx-container.MathJax {
  pointer-events: none;
}

.rules li {
  margin: 1rem 0;
}

.rules {
    border: 1px dotted gray;
    padding: 2rem;
}

.highlight {
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  border-radius: 6px;
}
.MathJax {
  display: inline !important;
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
}

#sarus2 {
  width: 50%;
  margin: 5rem auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem auto;
}

.navbar-light {
  background-color: rgb(235, 235, 94);;
}

@media screen and (max-width: 992px){
  .container {
    padding: 0 0.2rem;
  }
  #sarus2 {
    width: 90%;
  }

}

