
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Rowdies&display=swap');



.pad {
    color: white;
    font-size: xx-large;
    font-family: 'Dosis', sans-serif;
    border-radius: 6px;
    padding: 0.5rem;
    /* background-color: rgba(255, 255,255,0.7); */
    
}

.pad:hover {
    color: lightblue;
}



.navbar-nav {
    margin-right: 5rem;
}
.nav-item {
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
    
}
#bordered {
    border: 1px solid white ;
}

#bordered:hover {
    background-color: white;
    color:#1c2c34 ;
    
}

.nav-link {
    margin: 1rem;
    border-radius: 8px;
    padding: 4px;
    color: white;
    border: 1px solid transparent; 
}

.nav-link:hover {
    border: 1px solid white; 
    color: white;
}


.navbar-nav .nav-link.active {
    color: white;
    border-radius: 0px;
    border-bottom: 1px solid white;
}
.navbar-nav .nav-link.active:hover {
    border-color: transparent;
}
#la {
    border: 1px solid transparent;
    color: white;
}
#la:hover {
    border: 1px solid white;
}

#logo{
    border-radius: 50%;
    padding-bottom: 4px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}



mjx-container.MathJax {
    pointer-events: none;
  }