body {
    background-color: aliceblue;
}

.nav-link:hover {
    transform: translateY(-2px);
    color: black;
  }
  .home:hover {
    transform: none;
  }
  .nav-link.active {
    color: #504e4e !important;
    text-decoration: underline;
  }
  
  .home:hover {
    background-color: #464343 !important;
  }