<div class="sidebar-sticky">
   <ul class="nav flex-column">
      <li class="nav-item">
         <a class="nav-link" href="../../../landingPage/index.html">
            <svg style="margin-bottom: 5px; margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="16"
               height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
               <path
                  d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
            </svg>
            Domov
         </a>
      </li>
      <hr>
      <li class="nav-item">
         <a class="nav-link " href="../uvod/index.html">Úvod</a>
      </li>
      <li class="nav-item">
         <a class="nav-link " href="../riadkoveOperacie/index.html">Riadkové operácie</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="../gaussovTvarMatice/index.html">Gaussov tvar matice</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="../vypočetGauss/index.html">Výpočet gaussovho tvaru matice</a>
      </li>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="../algebrOperacieMatice/index.html">Algebraické operácie s maticami</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="../stvMatica/index.html">Štvorcové matice, pojem inverznej matice</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="../invMaticaVypocet">Výpočet inverznej matice</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="../detStvMatice/index.html">Definícia determinantu štvorcovej matice</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="../deterRiadkoveOperacie/index.html">Determinant a riadkové operácie</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="../invMaticaDet/index.html">Inverzná matica pomocou determinantov</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="../vztahyMedziPojmami/index.html">Dôležité vzťahy medzi uvedenými pojmami</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" style="margin-bottom: 2rem;" href="../cvicenia/index.html">Cvičenia</a>
      </li>
   </ul>
</div>