#matrix_input {
    display: grid;
    grid-template-columns: 2rem 2rem 2rem 2rem;
    gap: 4px;
    margin: 5rem;
}


/* Chrome, Safari, Edge, Opera */
.inputNum::-webkit-outer-spin-button,
.inputNum::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}


#matrix {
  margin: auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#matrix td:focus-within input {
  outline: none;
  background-color: greenyellow;
}

/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
  outline: none;
}

#matrix-input td {
  padding: 0.2rem;
}

#matrix-input td:focus-within input {
  outline: none;
  background-color: greenyellow;
}

#matrix-input {
  margin: auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
}