#matrix_input {
    display: grid;
    grid-template-columns: 2rem 2rem 2rem 2rem;
    gap: 4px;
    margin: 5rem;
}



/* Chrome, Safari, Edge, Opera */
.inputNum::-webkit-outer-spin-button,
.inputNum::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}


#matrix {
  margin: auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#matrix td:focus-within input {
  outline: none;
  background-color: rgb(235, 235, 94);
}

/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
  outline: none;
}

#matrix-input td {
  padding: 0.2rem;
}

#matrix-input1 td {
  padding: 0.2rem;
}

#matrix-input td:focus-within input {
  outline: none;
  background-color:rgb(235, 235, 94);
}

#matrix-input {
  margin: auto;
  border-radius: 8px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-collapse: collapse;
}


#matrix-input1 {
  margin: auto;
  border-right: 1px solid rgb(199, 199, 51);
  border-left: 1px solid rgb(199, 199, 51);
}
#matrix-output td {
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}

#matrix-output table {
  border-right: 2px solid #f5c05d;
  border-left: 2px solid #f5c05d;
}

.grid {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:0.5rem; 
    justify-items: center; 
    align-items: center;
}

@media screen and (max-width: 375px) {
  .grid {
    display: block;
  }
}
