#matrix_input {
    display: grid;
    grid-template-columns: 2rem 2rem 2rem 2rem;
    gap: 4px;
    margin: 5rem;
}


/* Chrome, Safari, Edge, Opera */
.inputNum::-webkit-outer-spin-button,
.inputNum::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}



#matrix {
  margin: auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#matrix td:focus-within input {
  outline: none;
  background-color: greenyellow;
}

/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
  outline: none;
}

.offcanvas-backdrop {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

