h2 {
  text-align: center;
  margin-top: 2rem;
}

h5{
  color:#0d6efd;
}
.layer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 400px;
  padding: 20px;
  margin: 10px;
}

#plotSettings {
  border-left: 1px solid #0d6efd;
  border-right: 1px solid #0d6efd;
  width: 360px;
  height: 450px;
  background-color: white;
  text-align: center;
}

#plotSettings input {
  width: 70%;
}

#plot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.rovnica {
  text-align: center;
}

#normala {
  font-size: x-large;
  color: black;
  margin-top: 2rem;
}

input {
  border: none;
  border-bottom: 2px solid lightgray;
  text-align: center;
}

input:focus {
  outline: none;
}

#plotSettings #color {
  width: 30%;
  border: none;
}
#farba {
  display: block;
}
.MathJax {
  display: inline !important;
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
}

.title {
  text-align: center;
  font-size: xx-large;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.box {
  width: 60%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#scrollspyHeading1 {
  margin: 3rem auto 2rem auto;
   width:60%;
   padding-top: 4rem;
}

.nav-link {
  border-radius: 8px;
}

.nav-link.active {
  
  background-color: #0d6efd;
  
}
#homeBtn {
  text-decoration: none;
   margin-right: 1rem;
}
.navbar-light .navbar-nav .nav-link.active{
  color: white;
}

.list1 li {
  margin-bottom: 1rem;
}
.list1 {
  text-align: left;
  margin: 3rem auto;
  width: 80%;
}

.graph {
  margin: auto;
  max-width: 400px;
  
}

#graphBtn {
  border: 1px solid #0d6efd;
  background-color: transparent;
  border-radius: 6px;
  padding: 0.4rem; 
}

#graphBtn:hover {
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
  color: white;
}
#derivateBtn {
  background-color: transparent;
  border: 1px solid #0d6efd;
  padding: 0.3rem;
  border-radius: 6px;
  margin-left: 1rem;

}
@media screen and (max-width: 991px) {
  .nav-item {
    width: 10rem;
    margin-top: 9px;
  }
  .navbar-nav {
    align-items: center;
  }
  #scrollspyHeading1 {
    width: 90%;
  }
  .box {
    width: 90%;
  }
  #homeBtn {
    margin-right: 0;
  }
}




@media screen and (max-width: 903px) {
  
  .layer {
    display: block;
  }
  #plotSettings {
    margin: auto;
    width: 95%;
  }
  #plot {
    margin: auto;
    width: 95%;
  }
  .pad {
    font-size: large;
  
  }
 
  
}

  @media screen and (max-width: 608px) {
    #scrollspyHeading1 {
      margin-top: 5rem;
    }}
  
    @media screen and (max-width: 530px) {
      .graph {
        margin: auto;
        max-width: 300px;
        
      }
      .list1 {
        width: 100%;
      }
    }
    @media screen and (max-width: 406px) {
      .graph {
        margin: auto;
        max-width: 200px;
        
      }}

      @media screen and (max-width: 308px) {
        }
    
      
      