@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

header {
  background-image: url("../images/mainBGM.svg");

  background-position: right;
  height: 400px;
  box-shadow: 0px -5px 15px #000000;
}


h2 {
  text-align: center;
}

#header-container {
  width: 30%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
  
  
}

#main-content {
  width: 80%;
  margin: 4rem auto;
}

#NM {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check-input:checked {
  background-color: black;
  border-color: transparent;
}

.form-check-input:focus {
  box-shadow: none;
  outline: none;
  border-color: transparent;
}

#card-holder {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.card {
  margin: 1rem;
  width: 15rem;
}

#intro {
  color: grey;
}


@media screen and (max-width: 1250px) {
  body {
    background-size: auto;
  }
  #header-container {
    width: 40%;
  }
}

#example {
  margin-top: 10rem;
}
@media screen and (max-width: 903px) {
  #carousel-container {
    width: 80%;
  }
  .pad {
    font-size: x-large;
    padding: 4px;
  }
  .navbar-nav {
    margin: auto;
  }
  #header-container {
    width: 60%;
  }
}
@media screen and (max-width: 630px) {
    #card-holder {
        display: block;
        
      }
    .card {
        margin: 1.5rem auto;
        width: 90%;
        
    }
  }

@media screen and (max-width: 500px) {
  #header-container {
    width: 85%;
  }
}
@media screen and (max-width: 413px) {
  .pad {
    font-size: large;
    padding: 4px;
  }
}
