body {
   background-color: white; 
}

main {
  margin: 5rem auto;
  width: 80%;
  text-align: center;
}



#logo {
  border-radius: 6px;
}

.latitle {
  margin-bottom: 3rem;
  font-size: xx-large;
}

.card {
  color: black;
  padding: 4rem;
  height: 6rem;
  justify-content: center;
  border: 1px solid white;
  background-color: #f6f6f6;
  transition: ease 0.3s;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.card:hover {
    border: 1px solid lightgray;
    cursor: pointer;
}

#exercise {
    background-color: #e9e9e9;
}

.nav-link {
  color: #504e4e;
  margin: auto 0.5rem;
  
}


.nav-link1 {
  text-decoration: none;
}

#exercise:hover  {
  border: 1px solid gray;
}
#calcIcon {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav-link {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .nav-item {
    width: 10rem;
    margin: auto;
  }
  .navbar-nav {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .bi-calculator {
    display: none;
  }
    .cards {
        
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        
      }
      .card {
        padding: 2rem;
        
      }
}